//  #STATES
// ==========================================================================

body.menu-is-open {
  overflow: hidden;
}

.menu-is-open .masthead {
  height: 100%;
  overflow: scroll;
}

.menu-is-open .menu-wrapper{
  display: block;
}

.menu-is-open .menu-icon:before {
 transform: translateY(11px) rotate(135deg);
  }

.menu-is-open .menu-icon:after {
  transform: translateY(-11px) rotate(-135deg);
}

.menu-is-open .menu-icon div {
  transform: scale(0);
}


.is-active .menu-sublist {
  @media screen and (max-width: $laptop) {
    display: block;
  }
}

.is-active .menu-item {
  color: $text-highlight;
} 

//  #MENU ON SCROLL
// ==========================================================================
@include mq(laptop) {
  .masthead.is-scroll{
    height: $header-height-scroll;
    transition: all 0.4s ease-in-out;
  }

  .is-scroll .masthead-logo {
    height: $header-height-scroll;
    transition: all 0.4s ease-in-out;
  }

  .is-scroll .menu-item {
    height: $header-height-scroll;
    padding-top: $header-height-scroll/2;
    transition: all 0.4s ease-in-out;
  }

  .is-scroll .menu-sublist {
    top: $header-height-scroll;
    transition: all 0.4s ease-in-out;
  }
}