//  #VARIABLES
// ==========================================================================

// Media breakpoints:
$phone: 400px;
$tablet: 768px;
$laptop: 950px;
$desktop: 1200px;


// Dimensions
$padding: 1rem;
$spacing: 3rem;
$max-width: 1200px;