<section class="aquasure-section" id="aquasure"
         style="background-image: url('{{site.baseurl}}assets/img/jpg/1920/zoom-aquasure-0613.jpg')">
  <div class="wrapper aquasure-wrapper">
    <div class="aquasure-inner">
      {% if page.lang == 'en' %}
        <h3 class="aquasure-heading">Beauty is on the inside</h3>
        <p>We are making our suits the right way, outside and inside. Each seam is coated with mulitple layers of urethane sealent. Applyied by hand, this hard-wearing and long-lasting product ensure watertightness on all seams.</p>
      {% endif %}
    </div>
  </div>
</section>