<section class="aquasure-section" id="aquasure"
         style="background-image: url('{{site.baseurl}}assets/img/jpg/1920/zoom-aquasure-0613.jpg')">
  <div class="wrapper aquasure-wrapper">
      <h3 class="aquasure-heading">Beauty is on the inside</h3>
      <p>We are making our suits the right way, outside and inside. Each seam is coated with mulitple layers of urethane sealent. Applyied by hand, this hard-wearing and long-lasting product ensure watertightness on all seams.</p>
  </div>
</section>

<section class="warranty-section" id="warranty">
  <div class="warranty-content">
  		<img class="warranty-logo" src="{{site.baseurl}}assets/img/svg/logo-shark.svg" alt="">
      <p class="warranty-text">Our products are made to last. And to prove that, we are the only one to offer a lifetime warranty on all seams and workmanship, as well as a free annual service.</p>
  		<img class="warranty-writing" src="{{site.baseurl}}assets/img/svg/sftech-writing.svg" alt="">
  </div>
</section>