{% assign card = site.data.cards.[include.card_type] %}

<a class="card" href="{{site.url}}{{site.baseurl}}/{{page.lang}}{{ card.link }}">
  <img class="card-bg"
      srcset="{{site.url}}{{site.baseurl}}/assets/img/{{card.type}}/1024/{{card.img}}.{{card.type}} 1x, {{site.url}}{{site.baseurl}}/assets/img/{{card.type}}/1680/{{card.img}}.{{card.type}} 2x"
      src="{{site.url}}{{site.baseurl}}/assets/img/{{card.type}}/1024/{{ card.img }}.{{card.type}}"
      alt="{{ card.title }}">
  <div class="card-inner">
    <div class="card-headline">{{ card.title }}</div>
    <div class='card-sub'>{{ card.sub }}</div>
  </div>
</a>