<section class="content-section" id="content" id="content">
  <div class="wrapper-wide content-wrapper">

    <div class="content-text">
      <h3 class="content-title">Description</h3>
      
      {{ content }}
  
      {% for spec in page.specs %}
        <div data-aos="fade-up">
          <h4 class="content-data-title" id="{{spec.id}}">{{ spec.name }}</h4>
          <ul class="content-data-list">
            {% for datas in spec.data %}
            <li class="content-data-items">{{ datas }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
    
    <div class="content-picture" data-aos="fade-up">
      <div class="content-wrapper-image">
       {% for slide in page.image %}
       <img class="content-image{{ forloop.index }}" src="{{ site.baseurl }}{{ slide }}">
       {% endfor %}
      </div>
    </div>

  </div>
</section>