<section class="content-section"
         style="background-image: url('{{site.baseurl}}assets/img/suits/background.jpg')"
         id="content">
  <div class="wrapper-wide content-wrapper">

    <div class="content-text">
      <h3 class="content-title">{{page.title}}</h3>
      
      {{ content }}
 
    </div>
    
    <div class="content-picture">
       {% for slide in page.image %}
       <img class="content-image" src="{{ site.baseurl }}{{ slide }}">
       {% endfor %}
      </div>
    </div>

  </div>
</section>




