<footer id="footer">
  <div class="wrapper footer-wrapper">

    <div class="social-wrapper">
      <div class="social-icons">
        <a class="social-link social-facebook" href="https://www.facebook.com/SF-Tech-Drysuit-171615034240/">
          <img class="social-image" src="{{ site.baseurl }}assets/img/icons/facebook.svg" alt="">
        </a>

        <a class="social-link social-instagram" href="https://www.instagram.com/sftechdrysuit/">
          <img class="social-image" src="{{ site.baseurl }}assets/img/icons/instagram.svg" alt="">
        </a>
      </div>
    </div>

    <div class="footer-copyright">
      <p>&copy; 2007-2018 SF Tech Sarl. All rights reserved</p>
    </div>

  </div>
</footer>