<footer id="footer">
  <div class="wrapper footer-wrapper">
    <div class="social-wrapper">
      <div class="social-icons">
        <a
          class="social-link"
          href="https://www.facebook.com/SF-Tech-Drysuit-171615034240/"
          target="_blank"
        >
          {% include svg/facebook.svg %}
        </a>

        <a
          class="social-link social-instagram"
          href="https://www.instagram.com/sftechdrysuit/"
          target="_blank"
        >
          {% include svg/instagram.svg %}
        </a>

        <a
          class="social-link"
          href="https://www.pinterest.ch/sftech_drysuit/"
          target="_blank"
        >
          {% include svg/pinterest.svg %}
        </a>
      </div>
    </div>

    <section class="address-section" id="warranty">
      <div class="address-content">
        <ul>
          <li><h5>SF Tech Sarl</h5></li>
          <li>Route du Verney 18</li>
          <li>1070 Puidoux</li>
          <li>Switzerland</li>
          <li>+41 (0)21 946 29 88</li>
        </ul>
      </div>
    </section>

    <div class="footer-copyright">
      <p>&copy; 2007-2019 SF Tech Sarl. All rights reserved</p>
      <p>
        DuPont<sup>&trade;</sup> and Kevlar® are trademarks or registered
        trademarks of E.I. du Pont de Nemours and Company.
        <br />
        Polartec® and Power Stretch® are registered trademarks of Polartec, LLC,
        registered in the United States and other jurisdictions for fabrics
        available only from Polartec, LLC.
      </p>
    </div>
  </div>
</footer>
