<footer id="footer">
  <div class="wrapper footer-wrapper">

    <div class="social-wrapper">
      <div class="social-icons">
        <a class="social-link social-facebook" href="https://www.facebook.com/SF-Tech-Drysuit-171615034240/">
          {% include svg/facebook.svg %}
        </a>

        <a class="social-link social-instagram" href="https://www.instagram.com/sftechdrysuit/">
          {% include svg/instagram.svg %}
        </a>
      </div>
    </div>

    <section class="address-section" id="warranty">
      <div class="address-content">
          <ul>
            <li><h4>SF Tech Sarl</h4></li>
            <li>Route du Verney 18</li>
            <li>1070 Puidoux</li>
            <li>Switzerland</li>
            <li>+41 (0)21 946 29 88</li>
          </ul>
      </div>
    </section>

    <div class="footer-copyright">
      <p>&copy; 2007-2018 SF Tech Sarl. All rights reserved</p>
    </div>

  </div>
</footer>