<header class="masthead" id="masthead">
  
  <a href="{{site.baseurl}}">
    <img src="/assets/img/svg/sftech-logo.svg" alt="" class="masthead-logo">
  </a>

  {% include menu.html %} 


<!--   <div class="masthead-lang">
    <a href="{{site.url}}/en/{{page.namespace}}"
       {% if page.lang == 'en' %}class="lang-selected"{% endif %}>EN</a>
    <span> / </span>
    <a href="{{site.url}}/fr/{{page.namespace}}"
       {% if page.lang == 'fr' %}class="lang-selected"{% endif %}>FR</a>
  </div> -->


  <!-- TOGGLE ICON --> 
  <div class="menu-icon">
    <div></div>
  </div>
  
</header>