<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- homepage META TAG -->
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="decription" content="Heavy duty drysuits for recreational, technical and commercial divers, made in Switzerland">
  <meta name="keywords" content="scuba, diving, drysuit, wetsuit, recreational, technical, commercial, neoprene, trilam, trilaminate, tnt, polartec">
  <link rel="shortcut icon" href="{{site.url}}{{site.baseurl}}/favicon.ico?" type="image/x-icon" />
  <!-- pinterest -->
  <meta name="p:domain_verify" content="892502c1bdc6113079f1817673c88907"/>

  <!-- stylesheet -->
  <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/css/vendor/fontawesome.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
  <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/css/vendor/aos.css">
  <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/css/main.css">
  <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/font/HelveticaNeueLTPro/HelveticaNeueLTPro.css">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"> -->

</head>