<section class="hero-section {{ page.hero-style }}"
         style="background-image: url('{{site.baseurl}}{{page.hero-image}}')"
         id="hero">

    <div class="wrapper hero-wrapper">

      <div class="hero-inner">
        <h1 class="hero-title">{{page.title}}</h1>
        <h2 class="hero-subtitle">{{page.subtitle}}</h2>
      </div>      

      {% for cta in page.cta %}
      <div class="hero-cta">
        <a class="btn" href="{{ cta.link }}">{{ cta.text }}</a>
      </div>
      {% endfor %}
    
    </div>

</section>