<section class="color-switch highlights-section" id="highlights">
  <div class="wrapper highlights-wrapper" >
    {% for icons in page.highlights %}

      <div class="highlights-group">
      		<div class="highlights-picture">
            <img class="highlights-image" src="{{ site.baseurl }}{{ icons.icon }}" alt="">
					</div>

          <div class="highlights-text">
            <h4 class="highlights-title">{{ icons.title }}</h4>
            <p class="highlights-description">{{ icons.sub }}</p>
        </div>
      </div>
     
    {% endfor %}

    </div>
  </div>
</section>