<section class="highlights-section color-switch" id="highlights">
  <div class="wrapper highlights-wrapper">
    {% for icons in page.highlights %}
    <div class="highlights-group">
      <div class="highlights-picture">
        {% include {{ icons.icon | prepend: 'svg/' }} %}
      </div>

      <div class="highlights-text">
        <h4 class="highlights-title">{{ icons.title }}</h4>
        <p class="highlights-description">{{ icons.sub }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
