 <div class="wrapper menu-wrapper">
  <ul class="menu-list">
    {% assign menu-lang = site.data.[page.lang].menu.toc %}
      {% for item in menu-lang %}
      <li class="menu-dropdown">
        <div class="menu-item">{{ item.title }}</div>
        <ul  class="menu-sublist">
          {% for entry in item.subfolderitems %}
            <li class="menu-subitem"><a  class="menu-link" href="{{site.url}}{{site.baseurl}}/{{page.lang}}{{entry.url}}">{{entry.page}}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
</div>