<section class="options-section">
  <div class="wrapper options-wrapper">
    <h2 class="options-title">Make it the way you want</h2>

    <div class="options-inner">

      <div class="options-legend">
        <div class="options-legend-item">
          <span class="dot dot-yellow"></span>
          <span>Equipped in standard</span>
        </div>
        <div class="options-legend-item">
          <span class="dot dot-gray"></span>
          <span>Available option</span>
        </div>
      </div>
      
      <div class="options-list">
        {% for items in page.option %}
        <div class="options-each {{ items.style }}">
          <div class="options-item">
            <div class="options-icon">

              {% capture temp %}{{ site.data.[page.lang].options.[items.type].icon }}{% endcapture %}

              {% include {{ temp | prepend: 'svg/' }} %}

            </div>
            <div class="options-text">
              <div class="options-header">{{ site.data.[page.lang].options.[items.type].title }}</div>
              <div>{{ site.data.[page.lang].options.[items.type].text }}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
</section>


