<section class="technical-section darktheme" id="technical">
  <!--          style="background-image: url('{{site.url}}{{site.baseurl}}/assets/img/jpg/1920/background-droplet.jpg')" -->

  <div class="wrapper technical-wrapper">
    {% for spec in page.specs %}
    <div class="technical-half">
      <div class="technical-inner">
        <div class="technical-data">
          <h4 class="technical-title" id="{{spec.id}}">{{spec.name}}</h4>
          <ul class="technical-list">
            {% for datas in spec.data %}
            <li class="technical-items">{{ datas }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
