<section class="warranty-section" id="warranty">
  <div class="warranty-content">
      <img class="warranty-logo" src="{{site.url}}{{site.baseurl}}/assets/img/svg/logo-shark.svg" alt="">
      {% if page.lang == 'en' %}
        <p class="warranty-text">Our products are made to last. And we prove that by offering a lifetime warranty on all seams and workmanship, as well as a free annual service.</p>
      {% endif %}

      {% if page.lang == 'fr' %}
        <p class="warranty-text">Nos produits sont faits pour durer. Et pour le prouver, nous offrons une garantie à vie sur les coutures et la fabrication, en plus d'un service annuel gratuit.</p>
      {% endif %}


      <img class="warranty-writing" src="{{site.url}}{{site.baseurl}}/assets/img/svg/sftech-writing.svg" alt="">
  </div>
</section>