<!-- SECTION -  CONTACT
  ------------------------------------------------------------------>
<div class="section-contact color-switch" id="contact">
  <div class="contact-wrapper">
    <iframe class="contact-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d145682.5436581033!2d6.617999257576501!3d46.425053225425806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c284246554347%3A0x4f0c0797290510b9!2sSf+Tech+S%C3%A0rl!5e0!3m2!1sfr!2sch!4v1540983540123" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

  <div class="contact-wrapper">
    <form 
      name="contactForm"
      class="contact-form"
      action=""
      id="contact-form"
      autocomplete="off"
      method="post">
      
      <div class="error-wrapper">
        <input 
          class="form-field"
          type="text"
          name="fname"
          placeholder="Fullname"
          aria-required="true"
          autocomplete="off"
          required>
      </div>

      <div class="error-wrapper">
        <input
          class="form-field"
          type="email"
          name="femail"
          placeholder="E-mail address"
          aria-required="true"
          autocomplete="off"
          required>
      </div>

      <div class="error-wrapper">
        <input
          class="form-field"
          type="tel"
          pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\.\/0-9]*$"
          name="fphone"
          placeholder="Phone number (optional)"
          aria-required="false"
          autocomplete="off">
      </div>

      <div class="error-wrapper">
        <input
          class="form-field"
          type="text"
          name="fsubject"
          placeholder="Subject"
          aria-required="true"
          autocomplete="off"
          required>
      </div>

      <div class="error-wrapper">
        <textarea
          class="form-area"
          name="fmessage"
          placeholder="Message"
          aria-required="true"
          autocomplete="off"
          required></textarea>
      </div>
      
      <button 
        class="btn btn-cta"
        type="submit"
        name="fsubmit">
        send your email
      </button>

    </form>

  </div>

</div>


  <script src='{{site.baseurl}}assets/js/vendor/jquery.validate.js'  type='text/javascript'></script>
  <script>
     // When the browser is ready...
    $(document).ready(function() {

        // Create a new rule to validate phone numbers
        //---------------------------------------------------------
        $.validator.methods.phone = function( value, element ) {
            return this.optional( element )
              || /(\+|0|\(|\))([0-9]|\s|\(|\)|\-)+/.test( value );
        }
        

        // Setup the jquery.validate plugin
        //---------------------------------------------------------
        var form = $("#contact-form");

        // Setup form validation on the element
        form.validate({
        
            // Specify the validation rules
            rules: {
                fname: {
                    required: true,
                    minlength: 4,
                    maxlength: 60
                },
                femail: {
                    required: true,
                    email: true,
                    minlength: 5,
                    maxlength: 255
                },
                fphone: {
                    /*phone: true,*/
                },
                fsubject: {
                    minlength: 5,
                    maxlength: 255,
                    required: true
                },
                fmessage: {
                    minlength: 5,
                    required: true
                }
            },
            // Specify the validation error messages
            messages: {
                fname: "Please enter your name",
                femail: "Please enter a valid email address",
                fphone: "Please enter a valid phone number",
                fsubject: "Please enter your subject (min 5 characters)",
                fphone: "Please enter your message"
            },
            
            // Define what to execute when valid
            submitHandler: function(form) {
                $.ajax({
                    type: 'post',
                    url: '{{site.baseurl}}/contactform.php',
                    data: $('#contact-form').serialize(),     
                    success: function(){
                      alert("Your email has been sent, thank you");
                      $('#contact-form').trigger("reset");
                  }
              });
            }
        });
    });
  </script>