.address-content {
  // Positioning and sizing
  max-width: 1200px;
  margin: 0 auto;

  // Text styles
  text-align: center;

  // Background and borders
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.address-text {
  // Positioning and sizing
  padding: $padding;

  // Text styles
  color: white;
  font-size: 125%;
  @include boldfont();
}

.address-logo {
  // Positioning and sizing
  margin: $padding;
  max-width: 80px;
}

.address-writing {
  // Positioning and sizing
  padding: $padding;
  max-width: 180px;
}