//  #CONTENT
// ==========================================================================

.content-section {
  padding: 0;
  @include mq(laptop) {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
  }
}

.content-half {
  @include mq(laptop) {
    width: 50%;
    display: flex;
    flex: 1;
  }
}

.content-inner {
  max-width: 35rem;
  margin: auto;
  padding: $spacing;
}

.content-picture {
  min-height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.content-title {
  border-bottom: 1px solid $yellow;
  padding-bottom: $padding;
  margin-bottom: $padding;
}