//  #CONTENT
// ==========================================================================

.content-wrapper {
    // Positioning and sizing
    @include mq(laptop) {
    display: flex;
    // Text styles
    justify-content: center;
    // Background and borders
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  } 
}

.content-text {
  // Positioning and sizing
  position: relative;
  margin: 0 auto;
  max-width: 30rem;
  width: 100%;
  @include mq(laptop) {
    margin-left: auto;
    margin-right: $padding;
    width: 40%;
  }
  // Text styles
  text-align: justify;
}

.content-title {
  // Padding and margin
  margin-bottom: $padding;
  // borders
  border-bottom: 1px solid $yellow;
}

.content-data-title {
  padding-top: $padding;
}

.content-data-list {
  display: table;
  margin-left: 2em;
}

.content-data-items:before {
  content: "\2500";
  display: inline-block;
  width: 2em;
  color: $yellow;
  margin-left: -2em;
}

.content-data-items span {
  margin-left: 100px;
}


//  #PICTURE SIDE
// ==========================================================================
.content-picture {
  padding: $padding;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  @include mq(laptop) {
    // Positioning and sizing
    margin-left: 0;
    margin-right: auto;
    width: 60%;
  }
}

.content-image {
  max-height: 90vh;
  max-width: 100%;
}