// #SECTION
// ==========================================================================
.section-contact {
  @include mq(laptop) {
    display: flex;
  }
  background-color: $yellow;
  padding: 0;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  @include mq(laptop) {
    width: 50%;
  }
}

.contact-map {
  display: block;
  flex-grow: 1;
  min-height: 400px;
  filter: grayscale(100%);
}

.contact-form {
  padding-top: $spacing;
  padding-bottom: $spacing;
  padding-left: $padding;
  padding-right: $padding;

  text-align: center;
}

.form-field {
  height: 2em;
  width: 100%;
  margin-bottom: 3rem;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid black
}

.form-area {
  min-height: 7em;
  width: 100%;
  margin-bottom: 3rem;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  resize: vertical;
}

.form-btn {
  color: red;
  padding: 20rem;
  padding-right: 2rem;
  padding-right: 2rem;
  padding-right: 2rem;
}

// Style the error message for the jquery.validate plugin
// wrapper to contain the error message
.error-wrapper {
  position: relative;
}

// Style the error message for the jquery.validate plugin
label.error {
  position: absolute;
  right: 0;
  top: 0;
  color: red;
}