//  #EXPERTISE
// ==========================================================================

.expertise-section {
  position: relative;
  padding: 0;
  min-height: 80vh;
  @include mq(laptop) {
    display: flex;
  }
  max-height: auto;

  // Background styles
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.expertise-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.expertise-inner {
  @include mq(laptop) {
    position: absolute;
  }
  display: flex;
  padding: $spacing;
  max-width: 40rem;
}

.expertise-link {
  padding-top: $padding;
}

.expertise-data {
  padding: $padding;
  @include mq(laptop) {
    background-color: rgba(33,33,33,0.8);
  }
}

// .expertise-bl {margin-top: auto; margin-right: auto;}
// .expertise-tl {margin-bottom: auto; margin-right: auto;}
// .expertise-br {margin-top: auto; margin-left: auto;}
// .expertise-tr {margin-bottom: auto; margin-left: auto;}

.expertise-bl {bottom: $spacing; left: $spacing;}
.expertise-tl {top: $spacing; left: $spacing;}
.expertise-br {bottom: $spacing; right: $spacing;}
.expertise-tr {top: $spacing; right: $spacing;}

.expertise-image {
  max-height: 80vh;
  width: 100%;
  object-fit: cover;
}

.expertise-title {
  border-bottom: 1px solid $yellow;
  padding-bottom: $padding;
  margin-bottom: $padding;
}