//  #EXPERTISE
// ==========================================================================

.expertise-section {
  position: relative;
  padding: 0;
  min-height: 70vh;
  @include mq(laptop) {
    display: flex;
  }
  max-height: auto;

  // Background styles
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.expertise-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.expertise-inner {
  @include mq(laptop) {
    position: absolute;
  }
  display: flex;
  padding: $spacing;
  max-width: 40rem;
  margin: 0 auto;
}

.expertise-link {
  padding-top: $padding;
}

.expertise-data {
  padding: $padding;
  @include mq(laptop) {
    // background-color: rgba(33,33,33,0.8);
  }
}

.expertise-bl {bottom: $spacing; left: $spacing;}
.expertise-tl {top: $spacing; left: $spacing;}
.expertise-br {bottom: $spacing; right: $spacing;}
.expertise-tr {top: $spacing; right: $spacing;}

.expertise-image {
  max-height: 80vh;
  width: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

.expertise-title {
  border-bottom: 1px solid $yellow;
  padding-bottom: $padding;
  margin-bottom: $padding;
}

.expertise-container {
  position: relative;
  line-height: 0;
}

.expertise-overlay {
  margin: 0;
}

@include mq(laptop) {
  .expertise-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .expertise-ltr {
    background-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0.1), rgba(0,0,0,0.7), rgba(0,0,0,1));
  }

  .expertise-rtl {
    background-image: linear-gradient(to left, rgba(0,0,0,0),rgba(0,0,0,0.1), rgba(0,0,0,0.7), rgba(0,0,0,1));
  }
}