footer {
  padding-top: $spacing;
  padding-bottom: $spacing;
}

.footer-wrapper {
  margin: 0 auto;
  text-align: center;
}

.footer-copyright {
  text-align: center;
}

.social-wrapper {
  display: block;
  margin: 0 auto;
  padding: $padding;
  width: 300px;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.social-link {
  display: block;
  border-radius: 10px;
  svg {
    display: block;
    height: 40px;
    width: 40px;
  }
}

.social-instagram {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
