//  #MAIN HEADER
// ==========================================================================

.masthead {
  // Positioning and sizing
  height: $header-height-phone;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;

  // Background and borders
  background-color: $background-color;

  @include mq(laptop) {
    height: $header-height;
    background-color: $header-background;
  }
}

.masthead-logo {
  // Positioning and sizing
  position: relative;
  height: $header-height-phone;
  z-index: 10;
  padding: 5px;

  @include mq(laptop) {
    position: absolute;
    height: $header-height;
    left: 50%;
    transform: translateX(-50%);
  }
}

.masthead-lang {
  // Positioning and sizing
  position: absolute;
  height: $header-height-phone;
  padding: calc($header-height-phone/2);
  right: 60px;
  top: 0;
  z-index: 100;

  // Text styles
  line-height: 0px;

  @include mq(laptop) {
    right: 0;
    height: $header-height;
    padding-top: calc($header-height/2);
  }

  .lang-selected {
    @include boldfont;
  }

  a,
  a:visited,
  a:active,
  a:hover {
    color: $text-color;
  }
}