//  #MAIN HEADER
// ==========================================================================

.masthead {
  // Positioning and sizing
  position: fixed;
  height: $header-height-phone;
  width: 100%;
  z-index: 10;
  top: 0;


  // Background and borders
  background-color: $background-color;
  @include mq(laptop) {
    height: $header-height;
    background-color: $header-background;
  }
}

.masthead-logo {
  // Positioning and sizing
  position: relative;
  height: $header-height-phone;
  z-index: 10;
  padding: 5px;
  
  @include mq(laptop) {
    position: absolute;
    height: $header-height;
    padding: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.menu-icon {
  position: absolute;
  right: $padding;
  top: 10px;
  font-size: 30px;
  line-height: 1em;
}