//  #HERO IMAGE
// ==========================================================================

.hero-section {
  // Positioning and sizing
  position: relative;
  z-index: 1;

  padding-top: $header-height-phone;
  @include mq(laptop) {padding-top: $header-height;}

  min-height: 400px;
  height: 80vh;

  width: 100vw;
  max-width: 100%;
  @include mq(laptop) {max-height: 75vh;}

  // Background styles
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-wrapper {
  // Positioning and sizing
  position: relative;
  height: 100%;
  
  // Text styles
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero-inner {
  // Positioning and sizing
  margin: auto;
}

.hero-scroll {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: $spacing;
  text-align: center;
}
