// --------------------------------------------------------
// #SECTION
// --------------------------------------------------------
.home-section {
}

.home-grid {
  @include grid(1,2,3);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

// span over 2 columns on large screen
.grid-col2 {
  @include mq(laptop) {
    grid-column: span 2;
  }
}

// span over 2 rows on large screen
.grid-row2 {
  @include mq(laptop) {
    grid-row: span 2;
  }
}

//  #TITLE
// ==========================================================================

.home-suptitle {
  @include fluid-type(20rem, 75rem, 1rem, 3rem);
  @include titlefont();
  text-transform: uppercase;
  text-shadow: 2px 2px #000;
  line-height: 2em;
  color: $text-highlight;
}

.home-title {
  @include fluid-type(20rem, 75rem, 3.3rem, 9.9rem);
  @include titlefont();
  line-height: 1;
  color: $text-highlight;
}

.home-subtitle {
  @include fluid-type(20rem, 75rem, 1.8rem, 5.4rem);
  @include titlefont();
  line-height: 1;
  color: $text-highlight;
}