//  NAVICON
// ==========================================================================

.menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  width: 60px;
}

@include mq(laptop) {
  .menu-icon {
    display: none;
  }
}

.menu-icon div {
  margin: 8px 0;
}

.menu-icon:after,
.menu-icon:before,
.menu-icon div {
  background-color: #fff;
  content: '';
  display: block;
  height: 3px;

  border-radius: 1px;
  // transition: all 0.2s ease-in-out;
}

//  FIRST LIST (BEFORE DROPDOWN)
// ==========================================================================
.menu-wrapper {
  display: none;
}

.menu-dropdown {
  // Positioning and sizing
  position: relative;

  // Text styles
  text-align: center;
  border-top: 1px solid $dark-gray;
  border-bottom: 1px solid $dark-gray;
}

.menu-item {
  padding: $padding;
  text-align: center;
}

.menu-item:after {
  position: absolute;
  right: 0;
  content: '\25bc';
}

.menu-sublist {
  display: none;
}

.menu-link {
  // Positioning and sizing
  display: block;

  // Padding and margin
  padding-top: $padding;
  padding-bottom: $padding;
  padding-left: $padding + $padding;
  padding-right: $padding + $padding;

  // Text styles
  color: $text-color;
}

.menu-link,
.menu-link:visited {
  color: $text-color;
}

.menu-link:hover,
.menu-link:active,
.menu-item:hover,
.menu-item:active {
  color: $text-highlight;
}

//  #MENU LAPTOP + DESKTOP
// ==========================================================================

@include mq(laptop) {
  .menu-wrapper {
    display: block;
  }

  .menu-list {
    display: flex;
    justify-content: center;
  }

  .menu-dropdown {
    border: none;
  }

  .menu-item {
    height: $header-height;
    padding: 5px;
    padding-top: calc($header-height/2);
    min-width: 120px;
    line-height: 0px;
  }

  .menu-item:after {
    content: '';
  }

  .menu-sublist {
    // Positioning and sizing
    position: absolute;
    top: $header-height;
    padding: $padding;

    // Text styles
    text-align: left;
    white-space: nowrap;

    // Background and borders
    // border-radius: 0 0 15px 15px;
    background-color: $dark-gray;
  }

  // Add a space for the logo
  .menu-dropdown:nth-child(3) {
    margin-right: $header-height + 30px;
  }

  .menu-dropdown:hover .menu-sublist,
  .menu-dropdown:active .menu-sublist {
    display: block;
  }

  .menu-dropdown:hover,
  .menu-dropdown:active {
    background-color: $dark-gray;
  }
}
