//  #OPTIONS
// ==========================================================================

.options-title {
  text-align: center;
  color: $text-color;
  border-bottom: 1px solid $yellow;
  padding-bottom: $padding;
  margin-bottom: $spacing;
}

.options-icon {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.options-icon svg{
  height: 100%;
  width: 100%;
}

.options-list {
  @include mq(tablet){ column-count: 2;}
  @include mq(laptop){ column-count: 3;}
}

.options-each {
  display: inline-block;
  width: 100%;
}


.options-item {
  display: flex;
  width: 20rem;
  margin: 0 auto;
}

.options-text {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.options-header {
  @include titlefont();
  text-transform: uppercase;
}

.options-legend {
  flex-wrap: wrap;
  margin: 0 auto;

  @include mq(laptop) { display: flex; justify-content: center;}

}

.options-legend-item {
  @include titlefont();
  width: 20rem;
  text-align: left;
  display: flex;
  margin: $padding auto;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 25px;
}

.dot-yellow { background-color: $yellow; }
.dot-gray { background-color: $gray; }




.base { color: $yellow; }
.base .options-icon svg { fill: $yellow; }

.option { color: $gray; }
.options-icon svg { fill: $gray; }

.hidden { display: none; }