//  #PRODUCT
// ==========================================================================

// Local variable:
$product-height: 80vh;

.product-section {
  padding: 0;
  padding-top: $header-height-phone;
  @include mq(laptop) {
    padding-top: $header-height;
  }
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include mq(laptop) {
    height: $product-height;
  }
}

.product-wrapper {
  @include mq(laptop) {
    display: flex;
    height: 100%;
  }
}

.product-half {
  @include mq(laptop) {
    width: 50%;
    display: flex;
    flex: 1;
  }
  padding: $padding;
}

.product-picture {
  margin: auto;
  text-align: center;
  height: 100%;
}

.product-image {
  height: 100%;
  width: 35rem;
  max-width: 100%;
  max-height: $product-height;
  object-fit: contain;
}

.product-title {
  color: $text-highlight;
}

.product-text {
  margin: 0 auto;
  max-width: 35rem;
  padding-top: 1rem;
}

.product-inner {
  text-align: center;
  margin: auto;
  width: 100%;
  @include mq(laptop) {
    text-align: left;
    margin-top: auto;
    margin-bottom: 0;
    padding-bottom: $header-height;
  }
}

.product-subtitle {
  text-transform: uppercase;
  // padding-top: 1em;
  // padding-bottom: 4vw;
}

.product-cta {
  // Positioning and sizing
  @include boldfont();
  display: flex;
  margin: 0 auto;
  max-width: 400px;
  @include mq(laptop) {
    margin: 0;
    width: 100%;
  }

  // Text styles
  text-align: center;

  // Background and border
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.product-btn:first-child {
  border-right: 1px solid white;
}

.product-btn {
  color: $text-highlight;
  display: block;
  width: 50%;
  padding: $padding;
}

.product-btn:visited {
  color: $text-highlight;
}
