.related-section {
  padding: 0;
}

.related-card {
  width: 100%;
  @include mq(tablet) {width: 50%;}
  @include mq(desktop) {width: 25%;}
}

.related-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}