//  #CONTAINER
// ==========================================================================

section  {
  padding-top: $spacing;
  padding-bottom: $spacing;
}

.wrapper {
  margin: 0 auto;
  max-width: $max-width;
  padding-left: $padding;
  padding-right: $padding;
}