// --------------------------------------------------------
// #SECTION
// --------------------------------------------------------
.home-section {
}

.home-grid {
  @include grid(1,2,3);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

// span over 2 columns on large screen
.grid-col2 {
  @include mq(laptop) {
    grid-column: span 2;
  }
}

// span over 2 rows on large screen
.grid-row2 {
  @include mq(laptop) {
    grid-row: span 2;
  }
}

//  #TITLE
// ==========================================================================

.home-suptitle {
  @include fluid-type(20rem, 75rem, 1rem, 2.5rem);
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px #000;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  line-height: 1;
  color: $text-highlight;
}

.home-title {
  @include fluid-type(20rem, 75rem, 3rem, 7.5rem);
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  color: $text-highlight;
}

.home-subtitle {
  @include fluid-type(20rem, 75rem, 1.7rem, 4.2rem);
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  color: $text-highlight;
}