//  #THEME
// ==========================================================================

.darktheme {
    color: $text-darktheme;
    background-color: $background-darktheme;
}

.darktheme h3 {
    color: $text-darktheme;
    //   border-color: $text-darktheme;
}

.darktheme button:hover,
.darktheme button:focus,
.darktheme button:active,
.darktheme .btn:hover,
.darktheme .btn:focus,
.darktheme .btn:active {
    color: $button-text;
    border-color: $button-border;
}

.darktheme button,
.darktheme .btn,
.darktheme .btn:visited {
    color: $black;
    border: 1px solid $black;
}

.lighttheme {
    color: $text-lighttheme;
    background-color: $background-lighttheme;
}

.lighttheme h3 {
    color: $text-lighttheme;
    border-color: $text-lighttheme;
}

.lighttheme button:hover,
.lighttheme button:focus,
.lighttheme button:active,
.lighttheme .btn:hover,
.lighttheme .btn:focus,
.lighttheme .btn:active {
    color: $light-button-text;
    border: 2px solid $light-button-border;
    @include boldfont();
}

.lighttheme button,
.lighttheme .btn,
.lighttheme .btn:visited {
    color: $black;
    border: 1px solid $black;
}
