---
layout: default
---
<section class="downloads-section">
  <div class="wrapper downloads-wrapper">

    <h3 class="downloads-title">Dowloads</h3>
    <div class="downloads-file">
    {% for file in page.downloads %}
      <a href="{{ file.link }}" class="downloads-links">
        <div class="downloads-box">
          <img src="{{ site.baseurl }}{{ file.icon }}"
               class="downloads-icon" alt="">
          <p>{{ file.title }}</p>
        </div>
      </a>
    {% endfor %}
    </div>

    <h3 class="downloads-title">Pictures</h3>
    <div class="downloads-file">
    {% for image in page.pictures %}
      <a href="{{ site.baseurl }}{{ image.link }}" class="downloads-links">
        <div class="downloads-box">
          <img src="{{ site.baseurl }}{{ image.icon }}"
               class="downloads-icon" alt="">
          {% if image.credit %}     
            <p>Photo credit:<br>{{ image.credit }}</p>
          {% endif %}
        </div>
      </a>
    {% endfor %}
    </div>

  </div>
</section>