---
layout: default

title: SF Tech | Heavy duty drysuits
subtitle: For recreational and technical divers

hero-image: /assets/img/jpg/1920/montage-poing-wide.jpg
hero-style: 

cards:
  - type: trilam-pro
  - type: tnt
    style: grid-col2
  - type: classic
    style: grid-col2
  - type: valve
    style: grid-row2
  - type: pads
  - type: batteries
    style: grid-row2
  - type: gloves
  - type: contact
  - type: materials
    style: grid-col2
  - type: trilam
  - type: kevlar-pro
  - type: expertise
    style: grid-col2
  - type: sweater
  - type: commando
---
<section class="hero-section {{ layout.hero-style }}"
         style="background-image: url('{{site.url}}{{site.baseurl}}{{layout.hero-image}}')"
         id="hero">

    <div class="wrapper hero-wrapper">

      <div class="hero-inner">
        <div class="home-suptitle">
          <span>3 lamps,</span>
          <span>2 computers,</span>
          <span>2 masks,</span>
          <span>4 tanks</span>
        </div>
        <h1 class="home-title">one drysuit!</h1>
        <h2 class="home-subtitle">make the right choice</h2>
      </div>      

      {% for cta in page.cta %}
      <div class="hero-cta">
        <a class="btn" href="{{ cta.link }}">{{ cta.text }}</a>
      </div>
      {% endfor %}
    </div>
</section>

<section class="home-section">
  <div class="wrapper">
    <div class="home-grid">
      {% for homecard in layout.cards %}
        <div class="{{ homecard.style }} jsReveal">
          {% include card.html card_type=homecard.type %}
        </div> 
      {% endfor %}
    </div>
  </div>
</section>