---
layout: default
---
{% include hero.html %}

{% for material in page.materials %}
  <section class="content-section {{material.style}}" >
    <div class="wrapper-wide content-wrapper">
      <div class="content-text">
       <h3 class="content-title">{{material.title}}</h3>
       {{ material.data }}
      </div>
    
      <div class="content-picture" data-aos="fade-up">
         {% for slide in page.image %}
         <img class="content-image" src="{{ site.baseurl }}{{ slide }}">
         {% endfor %}
        </div>
      </div>

    </div>
  </section>
{% endfor %}