//  #COLORS
// ==========================================================================

// Colors palette
$yellow:      #fe0;
$black:       #000;
$light-black: #111;
$dark-gray:   #222;
$gray:        #777;
$light-gray:  #ccc;
$white:       #fff;
$light-blue:  #1af;
$trans-blue:  rgba(18, 170, 255, 0.7);
$purple:      rgba(147, 112, 219, 0.8);
$shadow:      rgba(0,0,0,0.4);
$overlay:     rgba(0,0,0,0.8);


// Links
$link-color: $light-blue;

// Site template
$background-color: $black;
$text-color: $white;

$background-color-switch: $light-black;
$text-color-switch: $white;

$background-darktheme: $light-black;
$text-darktheme: $white;

$background-lighttheme: $yellow;
$text-lighttheme: $black;

$text-highlight: $yellow;

// Header
$header-background: $black;

// Button
$button-background: transparent;
$button-border: $white;
$button-text: $white;
$light-button-border: $black;
$light-button-text: $black;

$button-background-active: transparent;
$button-border-active: $yellow;
$button-text-active: $yellow;


// Cards
$card-title: $white;
$card-sub: $yellow;
