//  #TYPOGRAPHY
// ==========================================================================
@mixin mainfont() {
 font-family: "Helvetica Neue LT Pro - Lt", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
 font-weight: 300;
}

@mixin strongfont() {
 font-family: "Helvetica Neue LT Pro - Md", "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
 font-weight: 400;
}
@mixin boldfont() {
 font-family: "Helvetica Neue LT Pro - Bd", "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
 font-weight: 700;
}

@mixin titlefont() {
  font-family: "Helvetica Neue LT Pro - Bd", "HelveticaNeue-CondensedBold", "Helvetica Neue Condensed Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 900;
}



body {
  font-size: 87.5%;
  @include mq(tablet) {font-size: 87.5%;}
  @include mq(laptop) {font-size: 100%;}

  @include mainfont();
  color: $text-color;
  line-height: 1.618;
}

p {
  padding-bottom: $padding;
}


h1 {
  @include fluid-type(20rem, 75rem, 2rem, 4.5rem);
  @include boldfont();
  color: $white;
  line-height: 0.8;  
  text-shadow: 2px 2px #000;
  text-transform: uppercase;
  word-wrap:break-word;
  white-space: normal;
}

h2 {
  @include fluid-type(20rem, 75rem, 1.6rem, 3.2rem);
  @include titlefont();
  color: $yellow;
  line-height: 1em;
  text-shadow: 2px 2px #000;
  text-transform: uppercase;
}


h3 {
  @include fluid-type(20rem, 75rem, 1.2rem, 2.4rem);
  @include titlefont();
  color: $text-color;
  line-height: 1em;
  font-weight: 200;
  // text-transform: uppercase;
}


h4 {
  @include fluid-type(20rem, 75rem, 1.2rem, 1.6rem);
  line-height: 1;
}


header {
  font-size: 125%;
  color: $text-color;
  text-transform: uppercase;
  @include mq(laptop) {
    font-size: 87.5%;
  }
}

strong {
  @include boldfont();
}