//  #VARIABLES
// ==========================================================================

// Media breakpoints:
$phone: 400px;
$tablet: 768px;
$laptop: 1100px;
$desktop: 1200px;


// Dimensions
$padding: 0.5rem;
$spacing: 3rem;
$max-width: 1200px;
$max-width-wide: 1800px;

$header-height: 100px;
$header-height-scroll: 60px;
$header-height-phone: 50px;