//  #VARIABLES
// ==========================================================================

// Media breakpoints:
$phone: 400px;
$tablet: 768px;
$laptop: 950px;
$desktop: 1200px;


// Dimensions
$padding: 1rem;
$spacing: 3rem;
$max-width: 1200px;
$max-width-wide: 1400px;

$header-height: 100px;
$header-height-scroll: 60px;
$header-height-phone: 50px;